p {
    margin-left: 15px;
    font-weight: 600;
    color: darkblue;
}

h1 {
    margin-top: -50px;
    margin-left: 15px;
}

#app {
    font-family: Arial, Helvetica, sans-serif;
}

.weather__icon {
    margin-left: 270px;
}

.company__icon {
    width: 20%;
    position: relative;
    top: 142px;
    left: 240px;
    border-radius: 12px;
}

.meal__image {
    top: 20px;
    z-index: -1;
    width: 50%;
    border-radius: 12px;
    position: absolute;
}